.title {    
    font-weight: bold;
    text-align: justify;
    text-align-last: justify;
}

md-card {
    background: inherit;
    box-shadow: none;
}

md-card-header {
    margin: -8px -20px 16px;
}

md-tab-body {
    background-color: floralwhite;
}

.tab-content {
  background-color: white;
  font-size: 14px;
}
